---
import Card from "./Card.astro";
import {getCollection} from 'astro:content';


const portfolio =
    await getCollection("portfolio").then(p => {
        p = p.filter(({data}) => !data.draft);
        p.sort(({slug: slug1}, {slug: slug2}) => parseInt(slug2) - parseInt(slug1));
        return p;
    });
---
<div class="py-5 flex flex-col gap-5">
    <div class="
        px-5
        grid
        grid-cols-1
        md:grid-cols-2
        lg:grid-cols-3
        gap-5
        grid-flow-dense"
    >
        {portfolio.map(({data, slug}) => (
                <Card tags={data.tags} featured={data.featured}>
                    <a class="card-clickable min-w-min max-w-max" slot="name" href=`/articles/${slug}`>{data.title}</a>
                </Card>
        ))}
    </div>
</div>
<style>
    .card-clickable {
        display: block;
    }
    .card-clickable:before {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

    }
</style>
